body{
    background-color: #0a0d11;
    display: flex;
    align-items: center;
/*    background-image: url(../img/Banner/back.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
}
input[type='file']{
    display: none;
}
/*Estilizando scroll bar*/
::-webkit-scrollbar{
    width: 17px;
}
::-webkit-scrollbar-track{
    background: #2d214a;
}
::-webkit-scrollbar-thumb{
	background-color: #6e27ca;
	border-radius: 20px;
	border: 3px solid #2d214a;
	
}
p{
    font-size: 1.3rem;
    font-weight: 100;
}
.icons-bd{
    width: 20px;
    filter: brightness(70%);
}
.icons-bd:hover{
    filter: brightness(100%);
    cursor: pointer;
}
#login{
    background-image: url(../img/Banner/bannerDeash.PNG);
    background-repeat: no-repeat;
    background-size: cover;
     -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(6px);
    
}
.container-login{
   width: 100vw;
   height: 100vh;
   display: flex;
    justify-content: center;
    align-items: center;
}
.form-login{
    width: 500px;
    height: 400px;
    background-color: #111418;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
	border: 1px solid var(--cor-borda);
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.itens{
    width: inherit;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
    gap: 10px;
}
.form-deashboard{
    margin-top: 30px;
    padding: 30px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
    /* background-color: aqua  ; */
}
.form-deashboard .btn-form{
    margin-top: 10px;
}
.submit-produtos{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.campo-txt,.text-area{
    width: 490px;
    height: 50px;
    background-color: #111418;
    border: 1px solid #16191f;
    font-size: 1.5rem;
    border-radius: 3px;
    padding-left: 15px;
    font-weight: 100;
    color: var(--cor-font-main);
    position: relative;
    
}
.campo-txt:focus{
/*    border: 1px solid #1a1d3d;*/
    background-color: #1a1d3d;
    border: 2px solid #2d3268;
    /* background-color: #161616; */
    
}
.text-area{
    width: inherit;
    height: 100px;
    margin-bottom: 20px;
}
.campo-txt::placeholder{
    color: rgb(168, 167, 167);
    font-weight: 100;
}
.categoria-txt{
    content: url(../img/icons/categoria.png);
	width: 49px;
    height: 49px;
    margin-top: -35px;
    border-radius: 0px 3px 3px 0px;
	padding: 4px;
    box-sizing: border-box;
    position: absolute;
    margin-left:443px;
	background-color: #6f37b8;
}
.btn-form{
    width: 490px;
    height: 50px;
    background-image: linear-gradient(to left,#3719c9,#8f17ff);
    /* background-color: #8f17ff; */
    border-radius: 5px;
    /* box-shadow: 0px 0px 10px #0009; */
	cursor: pointer;
	font-family:'Roboto';
	font-weight: 200;
	color: rgba(221, 221, 221, 0.747);
	font-size: 1.5rem;
}
.btn-form:hover{
    transition: all .4s;
    transform: scale(1.03);
    border: 0;
}
.btn-produto{
    width: 200px;
   margin-left: auto;
}
header{
    width: 100vw;
    height:150px;
    background-color: #111418;
	border: 1px solid var(--cor-borda);
    padding: 10px;
    display: flex;
     margin-bottom: 0px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .titulo{
    width: 400px;
    height: 100px;
   margin-left: 100px;
   
}
.nome-projeto{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap:10px;
    
}
.nome-projeto p{
    margin-bottom: 5px;    
}
.logo-cms{
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-cms img{
    width: 400px;
    
}
.hr-dash{
	width: 100%;
	height: 5px;
	background-image: linear-gradient(to left, var(--cor-destaque), #004cff,#b225c2);
}
nav{
    width: 100%;
    height: 100px;
    background-color:  #111418;
	/* border: 1px solid var(--cor-borda); */
     margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}
.menu-cms{
    width: 500px;
    height: inherit;
    display: flex;
    /* gap: 10px; */
}
.item-cms{
    width: 123px;
    height: 99px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
    transition: all .3s;
}
.item-cms:hover{
    border-top: 5px solid transparent;
    border-bottom: 5px solid var(--cor-secundaria);
    cursor: pointer;
    transition: all .3s;
    box-shadow: 0;
    /* background-color: rgb(59, 41, 161); */
}
.logout div{
    background-color: #0a0e14;
    
}
.item-cms img{
    width: 35px;
}
.logout{
    width: 200px;
    height: inherit;
}
.logout div{
    margin-left: auto;
    /* box-shadow: 0px 0px 5px #000; */

}
main{
    width:100vw;
    min-height: 600px;
    max-height: auto;
     margin-bottom: 10px;
     /* background-color: aqua; */
     /* flex-grow: ; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    
     /* flex-direction: column; */
/*    background-image: url(../img/Banner/ba.jpg);*/
}
.container-main{
    width: inherit;
    max-width: 1900px;
    height: auto;
    /* padding:; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
/*     background-color: aliceblue; */
}
.cadastro-categoria,.listar-categoria{
    width: 560px;
/*     background-color: aqua; */
    height: auto;
}
.listar-categoria{
    width: 400px;
}
.categorias{
    width: 490px;
    height: auto;
/*     background-color: blue; */
    display: flex;
    flex-wrap: wrap;
   margin-top: 20px; 
   gap: 5px;  
}
#demo-image{
    width: inherit;
    height: 235px;
/*    background-color: brown;*/
    margin-top: 105px;
    margin-bottom: 30px;
    background-color: #111418;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
#demo-image img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
#preview-image-name{
    position: absolute;
    bottom: -20px;
    left: 0;
}
.input-file{
    width: 490px;
    height: 40px;
    padding: 10px;
    color: rgb(92, 76, 184);
    text-align: center;
    cursor: pointer;
    border: 2px solid rgb(92, 76, 184);
    border-radius: 3px;
    font-family:'Roboto';
	font-weight: 200;

}
.input-file:hover{
    background-color:rgb(92, 76, 184) ;
    border: 0;
    color:#0a0d11;
    font-weight: 600;
}
#imgJogo{
    display: none;
}
#container-lista{
    width: 400px;
    
}
#container-contato{
    min-width: 700px;
    max-width: auto;
    height: auto;
/*    background-color: aqFconua;*/
/*    background-color: ua;*/
}
.container-produtos{
    width: 950px;
/*    background-color: aqua;*/
    padding-left: 20px;
    display: flex;
    gap: 10px;
    justify-content: flex-start ;
}
.categoria-item,.purple{
    width: auto;
    height: 40px;
    padding: 10px;
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background-color: #040507; 
    flex-grow: 1;
   
}
.purple{
    background-color: rgb(92, 76, 184);
}
.purple p{color: white;}

.box-categoria{
    display:none;
}
.box-categoria:checked + label {
    background-color: rgb(92, 76, 184);
}
/* 
.box-categoria:checked  .categoria-item{
    background-color: rgb(92, 76, 184);
} */

.categoria-item:hover{
    transition: all .4s;
    cursor:default;
    background-color: rgb(92, 76, 184);
    
   
}
.categoria-item:hover > p{
     color: white;
}
.categoria-item div{
    
    margin-left: 10px;
}

.itens-user{
    width: 100%;
    height: 40px;
/*    background-color: aqua;*/
    display: flex;
}
.itens-user div{
    width: 50%;
}
.itens-user .manipulacao{
    width: 20%;
/*    background-color: aqua;*/
}
.tbl-contato,.tbl-usuario{
    width: 900px;
    margin-top: 50px;
    border-spacing: 0;
    border: solid 1px #111418;
}
.tbl-usuario{
    width: 400px;
}
.linha{
    height: 40px;
}
.linha-titulo{
    height: 40px;
    background-color: rgb(92, 76, 184);
}
.coluna,.coluna-titulo{
    border: solid 1px #111418;
    padding-left: 10px;
}
.coluna-titulo{
    border: 0;
}

footer{
    width: 100vw;
    height: 90px;
    background-color: #111418;
    /* box-shadow: 0px 0px 10px #000; */
    /* border: 1px solid var(--cor-borda); */
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: calibri;
}
