body{
    width: 100vw;
    height: 100vh;
    background-color: #0a0c1a;
    display: flex;
    align-items: center;
/*    background-image: url(../img/Banner/back.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
}
/*Estilizando scroll bar*/
::-webkit-scrollbar{
    width: 17px;
}
::-webkit-scrollbar-track{
    background: #2d214a;
}
::-webkit-scrollbar-thumb{
	background-color: #6e27ca;
	border-radius: 20px;
	border: 3px solid #2d214a;
	
}
.icons-bd{
    filter: brightness(50%);
}
.icons-bd:hover{
    filter: brightness(100%);
    cursor: pointer;
}
#login{
    background-image: url(../img/Banner/bannerDeash.PNG);
    background-repeat: no-repeat;
    background-size: cover;
     -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(6px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-login{
    width: 500px;
    height: 400px;
    background-color: #121212;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
	border: 1px solid var(--cor-borda);
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.itens{
    width: inherit;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
    gap: 10px;
}
#form-categoria{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#form-categoria .btn-form{
    margin-top: 100px;
}
.campo-txt{
    width: 100%;
    height: 50px;
    background-color: #1a1d3d;
    border: 2px solid #2d3268;
    font-size: 1.7rem;
    border-radius: 3px;
    padding-left: 15px;
    color: var(--cor-font-main);
    position: relative;
}
.campo-txt:focus{
    border: 1px solid #1a1d3d;
    /* background-color: #161616; */
    
}
.categoria-txt{
    content: url(../img/icons/categoria.png);
	width: 49px;
    height: 49px;
    margin-top: 0px;
    border-radius: 0px 3px 3px 0px;
	padding: 4px;
    box-sizing: border-box;
    position: absolute;
    margin-left: 443px;
	background-color: #6f37b8;
}
.btn-form{
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to left,#3719c9,#8f17ff);
    /* background-color: #8f17ff; */
    border-radius: 5px;
    margin-left: auto;
    margin-top: 30px;
    /* box-shadow: 0px 0px 10px #0009; */
	cursor: pointer;
	font-family:'Roboto';
	font-weight: 200;
	color: rgba(221, 221, 221, 0.747);
	font-size: 1.5rem;
}
.btn-form:hover{
    transition: all .4s;
    transform: scale(1.03);
    border: 0;
}
header{
    width: 100vw;
    height:150px;
    background-color:#0f1124;
	border: 1px solid var(--cor-borda);
    padding: 10px;
    display: flex;
     margin-bottom: 0px;
    justify-content: space-between;
    align-items: center;
}
header .titulo{
    width: 400px;
    height: 100px;
   margin-left: 100px;
   
}
.nome-projeto{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap:10px;
    
}
.nome-projeto p{
    margin-bottom: 5px;    
}
.logo-cms{
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-cms img{
    width: 400px;
    
}
.hr-dash{
	width: 100%;
	height: 5px;
	background-image: linear-gradient(to left, var(--cor-destaque), #004cff,#b225c2);
}
nav{
    width: 100%;
    height: 100px;
    background-color: #0f1124;
	/* border: 1px solid var(--cor-borda); */
     margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}
.menu-cms{
    width: 500px;
    height: inherit;
    display: flex;
    gap: 10px;
}
.item-cms{
    width: 123px;
    height: 99px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: all .3s;
}
.item-cms:hover{
    border-bottom: 5px solid var(--cor-secundaria);
    cursor: pointer;
    transition: all .3s;
    box-shadow: 0;
}
.logout div{
    background-color: #0a0c1a;
    
}
.item-cms img{
    width: 35px;
}
.logout{
    width: 200px;
    height: inherit;
}
.logout div{
    margin-left: auto;
    /* box-shadow: 0px 0px 5px #000; */

}
main{
    width:90%;
    height: 600px;
     margin-bottom: 10px;
     flex-grow: 1;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
/*    background-image: url(../img/Banner/ba.jpg);*/
}
#categoria,#lista-categoria{
    width: 550px;
    height: 400px;
    background-color: #0f1124;
    border-radius: 3px;
    margin-right: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
/*     border: 1px solid var(--cor-borda); */
    box-shadow: 0px 0px 10px #0003;
    

}
#lista-categoria{
    width: 400px;
    
}
#scroll{
    margin-top: 10px;
    overflow: auto;
   
}
.categoria-item{
    width: 100%;
    height: 37px;
    border-bottom: 2px solid  #2d3268;
    display: flex;
    align-items: flex-end;
    margin-bottom: 0px;
    justify-content: space-between;
    padding-right: 15px;
    
}
footer{
    width: 100vw;
    height: 90px;
    background-color: #0f1124;
    /* box-shadow: 0px 0px 10px #000; */
    /* border: 1px solid var(--cor-borda); */
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: calibri;
}